@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

h1,
h2,
h3,
button,
.pointValue,
.shopPointBadge,
.furnitureShopPrice {
  font-family: "DotGothic16", monospace;
}
